<!DOCTYPE html>
<html>
<head>
    <title>Sentiment Analysis</title>
</head>
<body>
    <h2>Enter your review:</h2>
    <form method="POST" id="frm">
        <textarea name="review" rows="6" cols="50"></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>

    <!-- {% if prediction %}
        <h3>Predicted Sentiment: {{ prediction }}</h3>
    {% endif %} -->
</body>
</html>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $('#frm').on('submit', function(e){
        e.preventDefault();

        $.ajax({
            url: "review-movie",
            method: 'POST',
            data: $(this).serialize(),
        }).done(function(response) {
            alert(response);
        });
    });
</script>
